import { Component, h } from '@stencil/core';
import '@stencil/router';

@Component({
  tag: 'fl-app',
  styleUrl: 'app.scss',
  shadow: true
})
export class AppPage {
  public render(): any {
    return (
      <stencil-router>
        <stencil-route-switch scrollTopOffset={0}>
          <stencil-route
            url="/"
            component="welcome-page" // YOU CAN REMOVE THIS ROUTE
            exact={true}
          ></stencil-route>
        </stencil-route-switch>
      </stencil-router>
    );
  }
}
