import { Component, h } from '@stencil/core';
import '@stencil/router';
import { environment } from '@env';

@Component({
  tag: 'fl-app',
  styleUrl: 'app.scss',
  shadow: false
})
export class AppPage {
  public render(): any {
    return (
      <stencil-router>
        <stencil-route-switch scrollTopOffset={0}>
          <stencil-route
            url='/'
            component='welcome-page' // YOU CAN REMOVE THIS ROUTE
            exact={true}
          ></stencil-route>
          {!environment.prod && <stencil-route url='/md-reader' component='markdown-reader' />}
        </stencil-route-switch>
      </stencil-router>
    );
  }
}
