import { Component, h } from '@stencil/core';
import '@stencil/router';
import { Environment } from '@env';

@Component({
  tag: 'fl-app',
  styleUrl: 'app.scss',
  shadow: true,
})
export class AppPage {
  render() {
    return (
      <stencil-router>
        <stencil-route-switch scrollTopOffset={0}>
          <stencil-route url="/" component="page-name" exact={true}></stencil-route>
					{!Environment.prod && <stencil-route url="/md-reader" component="markdown-reader" />}
        </stencil-route-switch>
      </stencil-router>
    );
  }
}
