import { Component, Prop, h } from '@stencil/core';
import { RouterHistory } from '@stencil/router';

@Component({
  tag: '[TMPL_NAME]-molecule',
  styleUrl: '[TMPL_NAME].molecule.scss',
  shadow: true,
})
export class [TMPL_NAME:CLASS_CASE]Component {
  @Prop() history: RouterHistory;
  @Prop() text: string = '[TMPL_NAME]-molecule';

  private goToReadmePage() {
    this.history.push({
      key: 'md-reader[[TMPL_NAME]]',
      scrollPosition: [0, 0],
      pathname: '/md-reader',
      query: {
        id: '[TMPL_NAME].molecule',
      },
    });
  }

  render() {
    return <p>You are in {this.text}</p>;
  }
}
