import { Component, Prop, h } from '@stencil/core';

@Component({
  tag: '[TMPL_NAME]-molecule',
  styleUrl: '[TMPL_NAME].molecule.scss',
  shadow: true,
})
export class [TMPL_NAME:CLASS_CASE]Molecule {
  @Prop() public text: string = '[TMPL_NAME]-molecule';

  render(): any {
    return <p>You are in {this.text}</p>;
  }
}
