import { withKnobs, text } from '@storybook/addon-knobs';
import readme from 'readme.md'

export default {
  title: '[TMPL_NAME:CLASS_CASE]Molecule',
  decorators: [withKnobs],
  parameters: {
    notes: {
      markdown: readme
    }
  }
};

export const [TMPL_NAME:CLASS_CASE]MoleculeStory = () => {
  const textKnob = text('text', 'YEY! Storybook');
  return `<[TMPL_NAME]-molecule text='${textKnob}'></[TMPL_NAME]-molecule>`;
};
