{
  "name": "[TMPL_NAME]-components-build",
  "version": "1.0.0",
  "description": "FLCLI Stencil project starter",
  "main": "dist/index.js",
  "module": "dist/index.mjs",
  "es2015": "dist/esm/index.mjs",
  "es2017": "dist/esm/index.mjs",
  "types": "dist/types/index.d.ts",
  "collection": "dist/collection/collection-manifest.json",
  "collection:main": "dist/collection/index.js",
  "unpkg": "dist/[TMPL_NAME]-components-build/[TMPL_NAME]-components-build.js",
  "files": [
    "dist/",
    "loader/"
  ],
  "repository": {
    "type": "git"
  },
  "scripts": {
    "create-molecule": "flcli molecule",
    "create-page": "flcli page",
  
    "start": "node ./fl-stencil-env-chooser.js",
    "start-dev": "node ./fl-stencil-env-chooser.js env=dev",
    "start-prod": "node ./fl-stencil-env-chooser.js env=prod",
    "build": "npm run start compile",
    "build-dev": "npm run start-dev compile",
    "build-prod": "npm run start-prod compile",
    "build-prod-dupes": "npm run pr-copy",

    "spec-test": "stencil test --spec",
    "e2e-test": "stencil test --e2e",

    "compile-start": "stencil build --dev --watch --serve",
    "compile": "stencil build --docs",

    "test": "stencil test --spec --e2e",
    "test.watch": "stencil test --spec --e2e --watchAll",

    "prettier": "npx prettier --write \"src/**/*.{js,ts,tsx,scss}\"",
    "tslint": "npx tslint -c ./tslint.json --project ./tsconfig.json",
    "tslint:fix": "npx tslint --fix -c ./tslint.json --project ./tsconfig.json",
    "prettier:tslint": "npm run prettier && npm run tslint:fix",
    "check:staged": "lint-staged",
    "pr-copy": "node ./fl-dynamic-builds.js"
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged"
    }
  },
  "lint-staged": {
    "*.{ts,tsx}": [
      "prettier --write",
      "tslint --fix",
      "git add ."
    ],
    "*.{md,json}": [
      "prettier",
      "git add ."
    ]
  },
  "devDependencies": {
    "@stencil/core": "^1.0.7",
    "pre-commit": "^1.2.2",
    "prettier": "1.18.2",
    "tslint": "^5.10.0",
    "tslint-react": "^3.6.0",
    "husky": "^3.0.5",
    "lint-staged": "^9.2.5"
  },
  "license": "MIT",
  "dependencies": {
    "@stencil/router": "^1.0.1",
    "@stencil/sass": "^1.0.1",
    "@stencil/postcss": "^1.0.1",
    "@types/autoprefixer": "^9.5.0",
    "autoprefixer": "^9.6.1",
    "chokidar": "^3.2.2",
    "glob": "^7.1.4",
    "ora": "^4.0.2",
    "shelljs": "^0.8.3",
    "fs-extra": "^8.1.0",
    "glob-promise": "^3.4.0",
    "rollup-plugin-alias": "^1.5.2"
  }
}
