<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>[TMPL_NAME]</title>
  <meta name="description" content="Made with fl-stencil-cli">

  <link href="/build/[TMPL_NAME].css" rel="stylesheet">
  <script type="module" src="/build/[TMPL_NAME].esm.js"></script>
  <script nomodule src="/build/[TMPL_NAME].js"></script>

</head>

<body>

  <fl-app></fl-app>

</body>

</html>
