const css = require('clean-css');
const fs = require('fs');

let projectName = null;

if (fs.existsSync('./fl-stencil-config.json')) {
  projectName = JSON.parse(
    fs.readFileSync('./fl-stencil-config.json', 'UTF-8')
  )['app-name'];
}

const distPath = `./dist/${projectName}/${projectName}.css`;
const distPathTheme = `./dist/${projectName}/${projectName}-standard-theme.css`;

if (fs.existsSync(distPath)) {
  const cssString = new css({ level: 2 }).minify(
    fs.readFileSync(distPath, 'UTF-8')
  ).styles;
  const regex = /(\@media.*?{)?(\:root(\.light|\.dark)?( )?,)?\:root(\.light|\.dark)?( )?{.*?}(( )?})?/gm;
  const cssVariablesArray = cssString.match(regex).join('\n');
  fs.writeFileSync(
    distPathTheme,
    new css({ level: 2 }).minify(cssVariablesArray).styles
  );
} else {
  console.error('ERROR - Please run the build first');
}
