{
  "app-name": "[TMPL_NAME]",
  "paths": {
    "molecules": "./src/components/molecules",
    "pages": "./src/components/page"
  },
  "configuration": [TMPL_CONFIGURATION],
  "secondary-builds": {
    "templates-folder": "templates",
    "folder-builds": "builds",
    "builds": [
      {
        "type": "components-build",
        "tmp-folder": "[TMPL_NAME]-components-build",
        "folder-to-remove": ["src/components/app", "src/components/page", "src/components/markdown-reader"],
        "components-to-exclude": [],
        "elements-to-copy": [
          "src",
          ".editorconfig",
          ".gitignore",
          ".prettierrc",
          "fl-stencil-config.json",
          "LICENSE",
          "stencil.config.output-targets.json",
          "fl-dynamic-builds.js",
          "fl-stencil-env-chooser.js",
          "fl-stencil-md-reader.js",
          "README.md",
          "tsconfig.json",
          "tslint.json",
          "fl-bundler.js",
          "fl-css-theme-builder.js",
          "fl-css-component-importer.js"
        ],
        "files-built-to-copy": ["package.json", "dist", "loader"]
      }
    ]
  }
}
