{
    "app-name": "[TMPL_NAME]",
    "paths": {
        "molecules": "./src/components/molecules",
        "pages": "./src/components/page"
    },
    "markdowns": {},
    "configuration": [TMPL_CONFIGURATION]
}