const glob = require('glob');
const fs = require('fs');
const pathDivider = (process.platform === 'win32') ? '\\' : '/';
const patternReadmes = `.${pathDivider}src${pathDivider}components${pathDivider}**${pathDivider}*.md`;

glob(patternReadmes, (err, matches) => {
  if (err) {
    console.log('EXITING', err);
    process.exit;
  }
  if (matches && matches.length > 0) {
    const json = {};
    matches.map(match => {
      const array = match.split(`${pathDivider}`);
      const name = array[array.length - 2];
      const readme = fs.readFileSync(match, 'UTF-8');
      json[name] = {
        md: readme,
        name: name
      };
    });
    fs.writeFileSync(`.${pathDivider}src${pathDivider}assets${pathDivider}mocks${pathDivider}readmes.json`, JSON.stringify(json));
  }
});
