[
  {
    "type": "dist",
    "esmLoaderPath": "../loader",
    "copy": [
      {
        "src": "./assets/fonts",
        "dest": "../assets/fonts"
      },
      {
        "src": "./assets/images",
        "dest": "../assets/images"
      }
    ]
  },
  {
    "type": "docs-readme"
  },
  {
    "type": "www",
    "serviceWorker": null
  }
]
