import { Config } from '@stencil/core';
import { sass } from '@stencil/sass';
import { postcss } from '@stencil/postcss';
import autoprefixer from 'autoprefixer';
import alias from 'rollup-plugin-alias';

export const config: Config = {
  namespace: '[TMPL_NAME]',
  outputTargets: [
    {
      type: 'dist',
      esmLoaderPath: '../loader',
      copy: [
        {
          src: require('path').resolve('./src/assets/'),
          dest: require('path').resolve('./dist/assets/')
        }
      ],
    },
    {
      type: 'docs-readme'
    },
    {
      type: 'www',
      serviceWorker: null // disable service workers
    }
  ],
  globalStyle: 'src/styles/_styles.scss',
  plugins: [
    sass({
      injectGlobalPaths: [
        'src/styles/_styles.scss',
      ]
    }),
    postcss({
      plugins: [autoprefixer()]
    }),
    alias({
      resolve: ['.jsx', '.js', '.tsx', '.ts'],
      '@env': 'src/envs/env.ts',
      '@libs': 'node_modules',
      '@assets': 'src/assets',
      '@utils': 'src/utils',
    })
  ],
};
