const fs = require('fs');
const path = require('path');
const CopyPlugin = require('copy-webpack-plugin');
const WriteFilePlugin = require('write-file-webpack-plugin');
const stories = require('./stories-path');

const OUTPUT_DIR = '../dist';

const PROJECT_NAME = 'myself';

module.exports = {
  stories: ['../**/*.stories.js', ...stories],
  addons: ['@storybook/addon-notes/register', '@storybook/addon-knobs/register'],
  async webpackFinal(config) {
    config.entry.push(path.join(__dirname, OUTPUT_DIR, `${PROJECT_NAME}.js`));
    fs.readdirSync(path.join(__dirname, OUTPUT_DIR, 'collection/components/molecules')).map(
      file => {
        jsFilePath = path.join(
          __dirname,
          OUTPUT_DIR,
          `collection/components/molecules/${file}/${file}.js`
        );
        try {
          if (fs.existsSync(jsFilePath)) {
            config.entry.push(jsFilePath);
          }
        } catch (err) {
          console.error(err);
        }

        // Add CSS
        let cssFilePath = path.join(
          __dirname,
          OUTPUT_DIR,
          `collection/components/molecules/${file}/${file}.css`
        );
        try {
          if (fs.existsSync(cssFilePath)) {
            config.entry.push(cssFilePath);
          }
        } catch (err) {
          console.error(err);
        }
      }
    );

    // Add all static files to Storybook
    config.plugins.push(
      new CopyPlugin({
        patterns: [
          {
            from: '**/*',
            to: './',
            context: 'dist'
          }
        ]
      })
    );

    // Write the files to disk and not to memory
    config.plugins.push(new WriteFilePlugin());

    return config;
  }
};
